<div class="w-75 m-auto my-5">
    <div *ngIf="error" class="alert alert-danger">
        {{error}}
    </div>
    
    <form [formGroup]='loginForm' (ngSubmit)='submitLoginForm(loginForm)'>
        
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="email" name="" id="email" formControlName="email">
            <div class="alert alert-danger my-1" *ngIf="loginForm.get('email')?.errors !=null && loginForm.get('email')?.touched">
                <p *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</p>
                <p *ngIf="loginForm.get('email')?.errors?.['email']">Invalid Email</p>

            </div>
        </div>
        
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" name="" id="password" formControlName="password" #passwordfield>
            <span (click)="passwordfield.type=passwordfield.type=='password'?'text':'password'"
            class="fa fa-fw field-icon toggle-password text-info"
                [ngClass]="(passwordfield.type=='password')?' fa-eye':' fa-eye-slash'"></span>
            <div class="alert alert-danger my-1" *ngIf="loginForm.get('password')?.errors !=null && loginForm.get('password')?.touched">
                <p *ngIf="loginForm.get('password')?.errors?.['required']">password is required</p>
                <p *ngIf="loginForm.get('password')?.errors?.['pattern']">password must start with Uppercase lettter</p>    
            </div>
        </div>  

        <button [disabled]="loginForm.invalid" type="submit" class="btn btn-info">Login</button>
    </form>
</div>